body{
width:500px;
color:black;
background:#fff;
font-size:14px;
font-family:arial;
}
img,table{
border:0;
}
.top{
color:#888;
background:url(logo.gif) no-repeat 10px 5px;
padding:12px 0 0 55px;
font-style:italic;
margin:0 0 10px 0;
min-height: 32px
}
.top img{
vertical-align:middle;
}
.menu{
  background-size: cover;
  padding:0 5px 5px 0px;
  margin:0 0 10px 0;
  display: block;
  position: relative;
}
/* This block is added for transparency of menu.If you don't need it, move "background" and "background-size"
to ".menu" */
.menu::after {
  content: "";
  background: url(sky.jpg) no-repeat;
  background-size: 100% 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius:5px;
}
.menu a,
.menu a:link{
display:block;
font-weight:bold;
text-decoration:none;
color:#147dba;
padding: 5px;
font-size:13px;
border-radius:5px;
margin:0 0 3px 0;
/* border-bottom:#d6d9da 1px solid; */
}
.menu a:visited{
color:#777;
}
.menu a:hover{
background:#4a4a5f31;
}

table.details{
border-collapse:collapse;
width:100%;
margin-top: 10px;
}
table.details caption{
font-weight:bold;
padding:3px;
}
table.details td,
table.details th{
border:#aaa 1px solid;
padding-left: 10px;
}
table.details td.Help,
table.details th.Help{
border:#aaa 1px solid;
padding:1px 10px;
background:#fff;
font-size: 13px;
}
table.dow{
  font-size: 13px;
}
table.dow td{
  border: none;
  padding-left: 2px;
  padding-right: 2px;
}
table.setting{
  font-size: 13px;
  width: 100%;
}
table.setting td{
  border: none;
  padding-left: 0px;
  padding-right: 0px;
}
.content{
background:#eee;
border-radius:5px;
border-top:#1486ba 5px solid;
padding:5px;
margin:0 0 10px 0;
}
.footer{
border-top:#75be45 5px solid;;
background:#d6d9da;
border-radius:5px;
padding:5px 10px;
font-size:12px;
margin:0 0 5px 0;
}
.copyright{
font-size:11px;
padding:0 0 0 10px;
}
.debug_log{
  height:300px;
  width:500px;
  border:1px solid #ccc;
  font:12px Courier;
  overflow:auto;
  white-space: pre;
  /* white-space: nowrap; */
}

.table_animation {
  position: relative;
}
.inactive_table_background:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}
.loading:before {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top:8px solid #3498db;
  -webkit-animation: spin 2s linear infinite; /*Safari*/
  animation: spin 2s linear infinite;

  content: '';
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px - 8px);
  left: calc(50% - 25px - 8px);
  z-index: 1001;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
